body {
  background-color: 	#dbda64;
}


  
#logo-main {
    display: block;
}

.navbar-header, .collapse, .navbar {
  background-color: 	#dbda64;
}
.navbar {
  border: 0px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color:	#ae6ad7; /* <—– change your color here*/
background-color: transparent;
}
li {
  margin-top: 50px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif
}