body {
  background-color: 	#dbda64;

}

button.navbar-toggle,{
  background-color: 	#dbda64;
}
  
#logo-main {
    display: block;
}

.navbar-header, .collapse, .navbar {
  background-color: 	#dbda64;
}
.navbar {
  border: 0px;
  padding-bottom: 35px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color:	#ae6ad7; /* <—– change your color here*/
background-color: transparent;
}
li {
  margin-top: 50px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif
}

.col-md-8 {
  padding: 0px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

